<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>cartera-web</display-name>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.facs.STATE_SAVING_METHOS</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<!-- <param-value>redmond</param-value> -->
		<!-- <param-value>start</param-value> -->
		<param-value>omega</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>commons</param-value>
	</context-param>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>/login.xhtml</welcome-file>
	</welcome-file-list>
	<!-- keys gotten from recaptcha -->
	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6Lem4B8UAAAAAPyaBV3EJblDXe1I6G7BcMxZGXpK</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6Lem4B8UAAAAAFfeEh1Vaw6KhHxnn086vXQVu25H</param-value>
	</context-param>
	<!-- <error-page> <error-code>400</error-code> <location>/error.xhtml</location> 
		</error-page> <error-page> <error-code>401</error-code> <location>/login.xhtml?id=401</location> 
		</error-page> <error-page> <error-code>403</error-code> <location>/error.xhtml</location> 
		</error-page> <error-page> <error-code>404</error-code> <location>/error.xhtml</location> 
		</error-page> <error-page> <error-code>500</error-code> <location>/error.xhtml</location> 
		</error-page> -->
	<mime-mapping>
		<extension>xhtml</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>application/x-font-ttf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/x-font-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>application/x-font-woff2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/x-font-eot</mime-type>
	</mime-mapping>
</web-app>
